<div id="signindiv">
<form class="col-3 my-3" method="post" action="src/View/action.php">
    <div class="form-group">
      <label for="exampleInputEmail1">User Name</label>
      <input type="text" name="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="userPass" class="form-control" id="exampleInputPassword1">
    </div>
    <br>
    <button type="submit" name="login" class="btn btn-primary">Submit</button>
</form>
</div>
<style>
  #signindiv{
    margin-left:500px;
  }

</style>